<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ФИО:</th>
        <th>Должность:</th>
        <th>Начальник:</th>
        <th>Всего выплачено:</th>
    </tr>
    {% for employee in employee_list %}
    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td><a href="#">{{ employee.chief }}</a></td>
        <td>{{ employee.paid_salary }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>